amqp==5.0.5
aniso8601==9.0.1
APScheduler==3.7.0
bidict==0.21.2
billiard==3.6.3.0
cachelib==0.1.1
celery==5.0.5
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
colorama==0.4.4
cors==0.9.7
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.10
Flask-JWT-Extended==4.1.0
Flask-Login==0.5.0
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.8
Flask-Session==0.3.2
Flask-SocketIO==5.0.1
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.0.0
idna==2.10
importlib-metadata==3.7.3
itsdangerous==1.1.0
Jinja2==2.11.3
kombu==5.0.2
MarkupSafe==1.1.1
prompt-toolkit==3.0.17
pycparser==2.20
PyJWT==2.0.1
pymongo==3.11.3
PyMySQL==1.0.2
python-engineio==4.0.1
python-socketio==5.1.0
pytz==2021.1
requests==2.25.1
requests-file==1.5.1
six==1.15.0
sqlite3worker==1.1.7
tldextract==3.1.0
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.26.4
vine==5.0.0
wcwidth==0.2.5
Werkzeug==1.0.1
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.2.0
